body {
    background-color: aqua;
}

header {
    height: 5vh;
    width: 100vw;
    font-size: 1.5vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gray;
}

header a:last-of-type {
    margin-right: 1.5vw;
}